#main {
    width: 53%;
    height: calc(100vw * (770/1920));
    position: relative;
    top: calc(100vw * (180/1920)); 
    margin: 0 auto;
    
}
#main h2 {
    font-size: calc(100vw * (24/1920));
    font-style: bold;
    border-bottom: 1px solid #000;
    padding-left: calc(100vw * (20/1920));
    padding-bottom: calc(100vw * (20/1920));
}


#main .notice li:nth-child(1) {
    border-bottom: 1px dotted #C8C8C8;
    padding-top: calc(100vw * (15/1920));
    padding-left: calc(100vw * (20/1920));
    padding-bottom: calc(100vw * (20/1920));
}
#main .notice li:nth-child(2){
    border-bottom: 1px solid #C8C8C8;
    padding-top: calc(100vw * (15/1920));
    padding-left: calc(100vw * (20/1920));
    padding-bottom: calc(100vw * (20/1920));
}
#main .notice li:nth-child(3){
    border-bottom: 1px solid #000;
    padding-top: calc(100vw * (15/1920));
    padding-left: calc(100vw * (20/1920));
    padding-bottom: calc(100vw * (230/1920));
}
#main .notice li:nth-child(1) a {
    font-size: calc(100vw * (24/1920));
}
#main .notice li:nth-child(1) span {
    color: #FF005C;
}
#main .notice li:nth-child(2) a {
    font-size: calc(100vw * (18/1920));
    color: #dcdcdc;
}
.notice li:nth-child(2) span {
    margin-left: calc(100vw * (94/1920));
}
#main .notice li:nth-child(3) span {
    color: #FF005C;
}
#main .notice li:nth-child(3) a {
    font-size: calc(100vw * (20/1920));
}
#footer {
    margin-top: calc(100vw * (300/1920));
}
#main > p {
    line-height: calc(100vw * (31/1920));
    text-align: center;
    width: calc(100vw * (80/1920));
    height: calc(100vw * (31/1920));
    border: 1px solid #000;
    margin-top: calc(100vw * (20/1920));
    margin-bottom: calc(100vw * (20/1920));
}
#main p a {
    font-size: calc(100vw * (15/1920));
}
.reivew  li:nth-child(1){
    border-top: 1px solid #C8C8C8;
    padding-top: calc(100vw * (15/1920));
    padding-left: calc(100vw * (20/1920));
    padding-bottom: calc(100vw * (20/1920));


}
.reivew  li:nth-child(2){
    border-top: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    padding-top: calc(100vw * (15/1920));
    padding-left: calc(100vw * (20/1920));
    padding-bottom: calc(100vw * (20/1920));
}
.reivew a {
    font-size: calc(100vw * (18/1920));
    color: #dcdcdc;
}
.reivew li:nth-child(1) span {
    margin-left: calc(100vw * (94/1920));
}
.reivew li:nth-child(2) span {
    margin-left: calc(100vw * (94/1920));
}