#main {
    width: 80%;

    padding-left: calc(100vw * (500/ 1920));
    padding-top: calc(100vw * (150 / 1920));
}
#main h2 {
    text-align: left;
    padding-bottom: 20px;
}
#main .notice {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}
#main .notice li{
    padding: 15px;
}
#main .notice li:not(:last-child) {
    border-bottom: 2px dotted #D9D9D9;
}
.notice span {
    padding: 15px;
}
#main .notice a span {
    font-weight: bold;
    color: #FF005C;
    font-size: 20px;
}
#main li, .color2{
    color: #7a7a7a;
}
#main .num {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0 8rem;
}
#main .num1 {
    text-align: center;
}
#main .num1 a {
    display: inline-block;
    padding: 20px;
}

/* @media screen and (max-size: 1440px) {
   
    }
} */